@page "/"

<PageTitle>Index</PageTitle>

<article class="prose lg:prose-xl">
    <h1>Hello, world!</h1>
    <p>
        Welcome to your new app.
    </p>
</article>

<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body items-center text-center">
    <h2 class="card-title">
      Shoes!
      <div class="badge badge-secondary">NEW</div>
    </h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Fashion</div>
      <div class="badge badge-outline">Products</div>
    </div>
  </div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
